includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - stubs
    excludePaths:
        - config
        - stubs/laravel
        - stubs/controllers/AttachmentController.php
        - stubs/routes/attachable.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
