includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - stubs
    excludePaths:
        - config
        - stubs/laravel
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
